body {
  font-family: sans-serif;
  color: black;
  text-align: justify;
  background: white;
  margin: 1em;
}
h1, h2, h3, h4 { color: #208020; }
p, pre, iframe { margin-left: 2em; }


ul {
  padding-left: 2em;
  list-style-type: none;
}
ul > ul {
  list-style-type: square;
}
ul > li {
  margin-bottom: 1ex;
  margin-left: .5em;
  border-left: #80C080 solid .5em;
  padding-left: .5em;
}
div.note {
  color: red;
  margin-left: 1em;
  font-variant: small-caps;
  text-face: em;
  font-style: oblique;
}
span.note {
  color: red;
  text-face: em;
  font-style: oblique;
}
div.centered {
  text-align: center;
}
span.sc {
  font-variant: small-caps;
}


ul.talks > li:before {
  margin-left: 0em;
  border-left: #80C080 solid .5em;
  padding-left: .5em;
  content: "";
}
ul.talks > li {
  margin-bottom: 1ex;
  margin-left: 1em;
  border-left: #80C080 solid 0em;
  padding-left: 1em;
}
ul.talks > li > div:before {
  font-variant: small-caps;
  content: "Abstract: ";
}
ul.talks > li > div {
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 4em;
  margin-right: 4em;
  font-size: .8em;
  text-align: justify;
  font-size: 90%;
}
ul.talks > li > span {
  text-face: em;
  font-style: oblique;
}
